body { 	
	
} 

.homepage { background-image: url("../images/bghomepage.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: center;
    height: inherit;
    margin: 0px;
	
}

.valuepage { 
	background-image: url("../images/bgvalues.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: center;
    height: inherit;
	margin: 0px;
	} 

.visionpage {background-image: url("../images/bgvision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: bottom ;
	background-position: top;
    height: inherit;
	margin: 0px;

}




.container { font-size: 40px;
	         font-family: 'DM Sans', sans-serif;
	         text-shadow: 2px 2px 2px #A57F63;
	         text-align: center; 
	         vertical-align: top;
	         color: black  
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.footer {font-size: 12px;
	     font-family: 'DM Sans', sans-serif;
	     text-align: center; 
         background: #A57F63;  
}

.visiontext { font-size: 20px;
	         font-family: 'DM Sans', sans-serif,;
	         text-shadow: 2px 2px 2px white;
	         text-align: center; 
	         vertical-align: top;
	         color: black; 
             padding-left: 400px;
             padding-right: 400px;}

.my-container {font-size: 12px; 
              font-family: 'DM Sans', sans-serif; 
              text-align: center;
	          padding: 15px;
	          color: grey;
	          
	          
	         	      
} 

#logo {align-content: center;
	   width: 180px;
	   height: 180px;
	   

}

.values { width: 200px;
	      height: 200px;
	  align-content: center;
}

p { font-size: 18px; 
      font-family: 'DM Sans', sans-serif;
      color: black;  
	  font-family: 'Share Tech Mono', monospace; 
	  text-shadow: 2px 2px 5px grey;
}

 
