body { 	
	
} 

.homepage { background-image: url("../images/bghomepage.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: center;
    height: inherit;
    margin: 0px;
	
}

.valuepage { 
	background-image: url("../images/bgvalues.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: center;
    height: inherit;
	margin: 0px;
	} 

.visionpage {background-image: url("../images/bgvision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: bottom ;
	background-position: top;
    height: inherit;
	margin: 0px;

}

.communitypage { background-image: url(/"../images/bgdoversity.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment:scroll;
	background-position: center;
    height: inherit;
	margin: 0px;}




.containerj { font-size: 40px;
	         font-family: 'DM Sans', sans-serif;
	         text-shadow: 2px 2px 2px #A57F63;
	         text-align: center; 
	         vertical-align: top;
	         color: black  
}




#diverssity {  
	align-content: flex-end;
	width: 250px;
	height: 300px;}

#coldiversity { 
	align-items: flex-end; 
    text-align: center;
	vertical-align: middle;
	
}

#textdivcol {  font-family: 'Barlow', Semi-bold-600;
              text-align: end;
              font-size: 50px;
              text-align: right;
	          vertical-align: middle;
	          color: white;
	          background-color: pink;
	         
}

#cmtext1 { font-size: 50px;
      color: black; 
	  text-align: center;
	  font-family: 'Barlow', sans-serif;
	
	   }

#cmtext2 { font-size: 18px; 
      font-family: 'Barlow', sans-serif;
      color: black;  
	  text-align: center;
	   }

#cmtext3 {font-size: 30px; 
      font-family: 'Barlow', sans-serif;
      color: black;  
	  text-align: center; }

.container3 { background-color: pink;
              
}

.card-body {text-align: center;
            background-color: pink;
	        font-family: 'Barlow', sans-serif;
	        font-size: 12px;
	        width: 300px;
	        vertical-align: middle;
	 
}

.card { width: 300px;
        text-align: center;
         margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; }

.col { {align-content: center;
           text-align: center;
           align-items: center;
	      vertical-align: middle;
	      }





}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.footer {font-size: 12px;
	     font-family: 'DM Sans', sans-serif;
	     text-align: center; 
         background: #A57F63;  
}

.visiontext { font-size: 20px;
	         font-family: 'DM Sans', sans-serif,;
	         text-shadow: 2px 2px 2px white;
	         text-align: center; 
	         vertical-align: top;
	         color: black; 
             padding-left: 400px;
             padding-right: 400px;}

.my-container {font-size: 12px; 
              font-family: 'DM Sans', sans-serif; 
              text-align: center;
	          padding: 15px;
	          color: grey;
	          
	          
	         	      
} 

#logo {align-content: center;
	   width: 180px;
	   height: 180px;
	   

}

.values { width: 200px;
	      height: 200px;
	  align-content: center;
}

 homepagetext { font-size: 18px; 
      font-family: 'DM Sans', sans-serif;
      color: black;  
	  font-family: 'Share Tech Mono', monospace; 
	  text-shadow: 2px 2px 5px grey;
}

 
